.header {
  font-family: sans-serif;
  height: max-content;
  padding: 3.5em 0 0 0;
  text-align: end;
  &-list {
    list-style-type: none;
    margin: 0;
    padding: 0;

    &__item {
      padding-top: 1rem;
      a {
        font-size: var(--fs-sm);
        text-decoration: none;
      }
      a:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }
}
