@use "breakpoints";
$font-path: "../../public/fonts";

@font-face {
  font-family: "Sequel Sans";
  src: url("#{$font-path}/SequelSansBoldHead.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Sequel Sans";
  src: url("#{$font-path}/SequelSansMediumHead.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Helvetica";
  src: url("#{$font-path}/HelveticaBold.ttf");
  font-weight: bold;
}

:root {
  // Font sizes
  --fs-xxl: 4rem;
  --fs-xl: 2rem;
  --fs-lg: 1.6rem;
  --fs-md: 0.8rem;
  --fs-sm: 0.7rem;
  --fs-xs: 0.6rem;

  @include breakpoints.respond-to("large") {
    --fs-xxl: 5rem;
    --fs-xl: 2.5rem;
    --fs-lg: 2rem;
    --fs-md: 1rem;
    --fs-sm: 0.85rem;
    --fs-xs: 0.75rem;
  }
}
