# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
src/assets/fonts/Inconsolata/Inconsolata/Inconsolata-Black.ttf
src/assets/fonts/Inconsolata/Inconsolata/Inconsolata-Bold.ttf
src/assets/fonts/Inconsolata/Inconsolata/Inconsolata-ExtraBold.ttf
src/assets/fonts/Inconsolata/Inconsolata/Inconsolata-ExtraLight.ttf
src/assets/fonts/Inconsolata/Inconsolata/Inconsolata-Light.ttf
src/assets/fonts/Inconsolata/Inconsolata/Inconsolata-Medium.ttf
src/assets/fonts/Inconsolata/Inconsolata/Inconsolata-SemiBold.ttf
src/assets/fonts/Inconsolata/Inconsolata_Condensed/Inconsolata_Condensed-Black.ttf
src/assets/fonts/Inconsolata/Inconsolata_Condensed/Inconsolata_Condensed-Bold.ttf
src/assets/fonts/Inconsolata/Inconsolata_Condensed/Inconsolata_Condensed-ExtraBold.ttf
src/assets/fonts/Inconsolata/Inconsolata_Condensed/Inconsolata_Condensed-ExtraLight.ttf
src/assets/fonts/Inconsolata/Inconsolata_Condensed/Inconsolata_Condensed-Light.ttf
src/assets/fonts/Inconsolata/Inconsolata_Condensed/Inconsolata_Condensed-Medium.ttf
src/assets/fonts/Inconsolata/Inconsolata_Condensed/Inconsolata_Condensed-Regular.ttf
src/assets/fonts/Inconsolata/Inconsolata_Condensed/Inconsolata_Condensed-SemiBold.ttf
src/assets/fonts/Inconsolata/Inconsolata_Expanded/Inconsolata_Expanded-Black.ttf
src/assets/fonts/Inconsolata/Inconsolata_Expanded/Inconsolata_Expanded-Bold.ttf
src/assets/fonts/Inconsolata/Inconsolata_Expanded/Inconsolata_Expanded-ExtraBold.ttf
src/assets/fonts/Inconsolata/Inconsolata_Expanded/Inconsolata_Expanded-ExtraLight.ttf
src/assets/fonts/Inconsolata/Inconsolata_Expanded/Inconsolata_Expanded-Light.ttf
src/assets/fonts/Inconsolata/Inconsolata_Expanded/Inconsolata_Expanded-Medium.ttf
src/assets/fonts/Inconsolata/Inconsolata_Expanded/Inconsolata_Expanded-Regular.ttf
src/assets/fonts/Inconsolata/Inconsolata_Expanded/Inconsolata_Expanded-SemiBold.ttf
src/assets/fonts/Inconsolata/Inconsolata_ExtraCondensed/Inconsolata_ExtraCondensed-Black.ttf
src/assets/fonts/Inconsolata/Inconsolata_ExtraCondensed/Inconsolata_ExtraCondensed-Bold.ttf
src/assets/fonts/Inconsolata/Inconsolata_ExtraCondensed/Inconsolata_ExtraCondensed-ExtraBold.ttf
src/assets/fonts/Inconsolata/Inconsolata_ExtraCondensed/Inconsolata_ExtraCondensed-ExtraLight.ttf
src/assets/fonts/Inconsolata/Inconsolata_ExtraCondensed/Inconsolata_ExtraCondensed-Light.ttf
src/assets/fonts/Inconsolata/Inconsolata_ExtraCondensed/Inconsolata_ExtraCondensed-Medium.ttf
src/assets/fonts/Inconsolata/Inconsolata_ExtraCondensed/Inconsolata_ExtraCondensed-Regular.ttf
src/assets/fonts/Inconsolata/Inconsolata_ExtraCondensed/Inconsolata_ExtraCondensed-SemiBold.ttf
src/assets/fonts/Inconsolata/Inconsolata_ExtraExpanded/Inconsolata_ExtraExpanded-Black.ttf
src/assets/fonts/Inconsolata/Inconsolata_ExtraExpanded/Inconsolata_ExtraExpanded-Bold.ttf
src/assets/fonts/Inconsolata/Inconsolata_ExtraExpanded/Inconsolata_ExtraExpanded-ExtraBold.ttf
src/assets/fonts/Inconsolata/Inconsolata_ExtraExpanded/Inconsolata_ExtraExpanded-ExtraLight.ttf
src/assets/fonts/Inconsolata/Inconsolata_ExtraExpanded/Inconsolata_ExtraExpanded-Light.ttf
src/assets/fonts/Inconsolata/Inconsolata_ExtraExpanded/Inconsolata_ExtraExpanded-Medium.ttf
src/assets/fonts/Inconsolata/Inconsolata_ExtraExpanded/Inconsolata_ExtraExpanded-Regular.ttf
src/assets/fonts/Inconsolata/Inconsolata_ExtraExpanded/Inconsolata_ExtraExpanded-SemiBold.ttf
src/assets/fonts/Inconsolata/Inconsolata_SemiCondensed/Inconsolata_SemiCondensed-Black.ttf
src/assets/fonts/Inconsolata/Inconsolata_SemiCondensed/Inconsolata_SemiCondensed-Bold.ttf
src/assets/fonts/Inconsolata/Inconsolata_SemiCondensed/Inconsolata_SemiCondensed-ExtraBold.ttf
src/assets/fonts/Inconsolata/Inconsolata_SemiCondensed/Inconsolata_SemiCondensed-ExtraLight.ttf
src/assets/fonts/Inconsolata/Inconsolata_SemiCondensed/Inconsolata_SemiCondensed-Light.ttf
src/assets/fonts/Inconsolata/Inconsolata_SemiCondensed/Inconsolata_SemiCondensed-Medium.ttf
src/assets/fonts/Inconsolata/Inconsolata_SemiCondensed/Inconsolata_SemiCondensed-Regular.ttf
src/assets/fonts/Inconsolata/Inconsolata_SemiCondensed/Inconsolata_SemiCondensed-SemiBold.ttf
src/assets/fonts/Inconsolata/Inconsolata_SemiExpanded/Inconsolata_SemiExpanded-Black.ttf
src/assets/fonts/Inconsolata/Inconsolata_SemiExpanded/Inconsolata_SemiExpanded-Bold.ttf
src/assets/fonts/Inconsolata/Inconsolata_SemiExpanded/Inconsolata_SemiExpanded-ExtraBold.ttf
src/assets/fonts/Inconsolata/Inconsolata_SemiExpanded/Inconsolata_SemiExpanded-ExtraLight.ttf
src/assets/fonts/Inconsolata/Inconsolata_SemiExpanded/Inconsolata_SemiExpanded-Light.ttf
src/assets/fonts/Inconsolata/Inconsolata_SemiExpanded/Inconsolata_SemiExpanded-Medium.ttf
src/assets/fonts/Inconsolata/Inconsolata_SemiExpanded/Inconsolata_SemiExpanded-Regular.ttf
src/assets/fonts/Inconsolata/Inconsolata_SemiExpanded/Inconsolata_SemiExpanded-SemiBold.ttf
src/assets/fonts/Inconsolata/Inconsolata_UltraCondensed/Inconsolata_UltraCondensed-Black.ttf
src/assets/fonts/Inconsolata/Inconsolata_UltraCondensed/Inconsolata_UltraCondensed-Bold.ttf
src/assets/fonts/Inconsolata/Inconsolata_UltraCondensed/Inconsolata_UltraCondensed-ExtraBold.ttf
src/assets/fonts/Inconsolata/Inconsolata_UltraCondensed/Inconsolata_UltraCondensed-ExtraLight.ttf
src/assets/fonts/Inconsolata/Inconsolata_UltraCondensed/Inconsolata_UltraCondensed-Light.ttf
src/assets/fonts/Inconsolata/Inconsolata_UltraCondensed/Inconsolata_UltraCondensed-Medium.ttf
src/assets/fonts/Inconsolata/Inconsolata_UltraCondensed/Inconsolata_UltraCondensed-Regular.ttf
src/assets/fonts/Inconsolata/Inconsolata_UltraCondensed/Inconsolata_UltraCondensed-SemiBold.ttf
src/assets/fonts/Inconsolata/Inconsolata_UltraExpanded/Inconsolata_UltraExpanded-Black.ttf
src/assets/fonts/Inconsolata/Inconsolata_UltraExpanded/Inconsolata_UltraExpanded-Bold.ttf
src/assets/fonts/Inconsolata/Inconsolata_UltraExpanded/Inconsolata_UltraExpanded-ExtraBold.ttf
src/assets/fonts/Inconsolata/Inconsolata_UltraExpanded/Inconsolata_UltraExpanded-ExtraLight.ttf
src/assets/fonts/Inconsolata/Inconsolata_UltraExpanded/Inconsolata_UltraExpanded-Light.ttf
src/assets/fonts/Inconsolata/Inconsolata_UltraExpanded/Inconsolata_UltraExpanded-Medium.ttf
src/assets/fonts/Inconsolata/Inconsolata_UltraExpanded/Inconsolata_UltraExpanded-Regular.ttf
src/assets/fonts/Inconsolata/Inconsolata_UltraExpanded/Inconsolata_UltraExpanded-SemiBold.ttf
src/assets/fonts/SequelSans/SequelSans-SemiBoldBody.woff
