// Adapted from source: https://stackoverflow.com/a/38713737
@function repeat($val, $n) {
  $res: $val;
  @for $i from 1 through $n - 1 {
    $res: $res + " " + $val;
  }
  @return $res;
}

.margin{
  &-l{
    &-10{
      margin-left:10px;
    }
  }
}

.flex{
  display: flex;
}