@use "utilities";
@use "components";

:root {
  // Font sizes
  --fs-xxl: 5rem;
  --fs-xl: 2.5rem;
  --fs-lg: 2rem;
  --fs-md: 1rem;
  --fs-sm: 0.63rem;
  --fs-xs: 0.5rem;
}

@media (min-width: 100em) {
  :root {
    --fs-xxl: 7.5rem;
    --fs-xl: 5rem;
    --fs-lg: 3rem;
    --fs-md: 2rem;
    --fs-sm: 1.1rem;
    --fs-xs: 0.85rem;
  }
  .container {
    margin: 0 16em !important;
  }

  .header {
    padding: 8em 0 0 0;
  }
}

@media (max-width: 50em) {
  :root {
    --fs-xxl: 5rem;
    --fs-xl: 2.5rem;
    --fs-lg: 2rem;
    --fs-md: 1rem;
    --fs-sm: 0.875rem;
    --fs-xs: 0.75rem;
  }

  .container {
    margin: 0 1.5em !important;
    min-height: -webkit-fill-available !important;
  }

  .media {
    padding-top: 3rem;
    margin-left: 0.5em;
    align-self: center !important;
    justify-content: flex-start !important;
    width: 100%;
  }

  .header {
    padding: 2em 0 0 0;
    .header-list {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      width: 100%;
      * {
        padding: 0 1.5rem 0 0;
        * {
          padding: 0 1.5rem 0 0;
        }
      }
    }
  }
  .skills-flex-container {
    padding-top: 2.5rem;
    flex-grow: 1 !important;
    justify-content: start !important;
  }
  .skills-section {
    max-width: 100% !important;
  }

  .education-flex-container {
    justify-content: start !important;
  }

  .education-wrapper {
    max-width: 100% !important;
    grid-template-rows: 12.5% 25% 31.25% 31.25% !important;
  }

  .footer {
    padding: 1rem 0 0rem 0;
  }
}

@media (max-width: 20em) {
  :root {
    --fs-xxl: 5rem;
    --fs-xl: 2rem;
    --fs-lg: 1.5rem;
    --fs-md: 0.8rem;
    --fs-sm: 0.7rem;
    --fs-xs: 0.5rem;
  }
  .header-list {
    grid-template-columns: 1fr 1fr !important;
    li {
      margin-bottom: 1rem;
    }
  }
  .media-headings {
    margin-left: 0 !important;
  }
  .skills-flex-container {
    padding-top: 2rem;
    flex-grow: 1 !important;
  }
  .skills-header__canvas {
    display: none;
  }
  .skills-header-text__toggle {
    display: none;
  }
  .education-header-wrapper {
    display: flex !important;
    flex-wrap: wrap;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;

  // Removes stupid & ugly React focus border
  outline: none;
}

html,
body,
div,
img {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  background-color: white;
}

h1,
h2,
h3,
h4 {
  font-family: "Sequel Sans";
}

h1,
h2,
h3,
h4,
p,
a {
  color: utilities.$text;
}

#root {
  min-width: 100vw;
  min-height: 100vh;
}

.home {
  height: 100vh;
}

.container {
  min-height: 100vh;
  margin: 0 12em;
  display: flex;
  flex-direction: column;
}

.media {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  &-images {
    &__puppy {
      width: clamp(12rem, 20vw, 30rem);
    }

    &__tree {
      width: clamp(6rem, 10vw, 15rem);
      padding-left: 0.7vh;
    }
  }

  &-3dMoon {
    margin-left: clamp(6rem, 10vw, 16rem);
    width: clamp(7rem, 12vw, 16rem) !important;
    height: clamp(7rem, 12vw, 16rem) !important;
  }

  &-headings {
    margin-left: clamp(3rem, 8vw, 12rem);
    &__smallboy {
      font-weight: 100;
      font-size: var(--fs-md);
      letter-spacing: calc(var(--fs-xl) / 6.5);
      margin: -0.3em 0 0 0;
      padding-left: 0.15rem;
    }
    &__bigboy {
      font-weight: bold;
      font-size: var(--fs-xl);
      margin: 0;
    }
  }
}

.skills {
  &-flex-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-grow: 1;
  }

  &-header {
    display: flex;
    flex-direction: row;
    height: fit-content;
    justify-self: start;

    &__canvas {
      width: clamp(9rem, 12.5vw, 16rem) !important;
      height: clamp(9rem, 12.5vw, 16rem) !important;
    }

    &-text {
      display: flex;
      flex-direction: column;
      width: 75%;

      &__toggle:hover {
        text-decoration: underline;
        cursor: pointer;
      }

      &__toggle {
        font-size: var(--fs-xs);
        font-family: Inconsolata;
      }

      &__toggle--closed {
        color: #c4c4c4;
      }

      &__toggle--opened {
        color: #24292f;
      }

      &__title {
        display: flex;
        flex-direction: row;
        height: 100%;
        justify-content: flex-start;
        align-items: flex-end;
        &--big {
          font-size: var(--fs-xl);
          margin: 0;
        }
        &--small {
          margin: 0;
          font-size: var(--fs-md);
          margin-bottom: calc(var(--fs-xxl) / 2.25);
          margin-right: calc(var(--fs-xxl) / 32);
        }
      }
    }
  }

  &-section {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    &__title {
      font-size: var(--fs-md);
      margin-bottom: 0;
    }

    &__divider {
      background: rgb(199, 199, 199, 1);
      border: 0;
      margin: 8px 0px 8px 0px;
      height: 1px;
      width: 100%;
    }

    &-row {
      display: flex;
      flex-wrap: wrap;

      // tags in components folder
    }
  }
}

.education {
  &-flex-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-grow: 1;
  }
  &-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(4, 25%);
    grid-template-areas:
      "hd hd hd hd"
      "subhd subhd subhd subhd"
      "sd main main main"
      "sd main main main";
    row-gap: 0.5rem;
    max-height: 50vh;
    max-width: 50%;
  }
  &__img--top {
    grid-area: subhd;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  &__img--side {
    grid-area: sd;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__info {
    grid-area: main;
    margin: 1% 0 0 1%;
    display: flex;
    flex-direction: column;
    &-text {
      height: fit-content;
      h2 {
        margin: 0;
        font-size: var(--fs-md);
      }
      h3 {
        margin: 0;
        font-size: var(--fs-sm);
        font-family: Helvetica, Arial, sans-serif;
      }
      p {
        margin: 0;
        font-weight: 500;
        font-size: var(--fs-xs);
        font-family: Helvetica, Arial, sans-serif;
      }
    }
    &-logo {
      height: 100%;
      width: 100%;
      * {
        object-fit: scale-down;
        width: 100%;
        height: 100%;
      }
    }
  }

  &-header {
    &__title {
      display: flex;
      justify-content: flex-end;
      font-size: clamp(1.5rem, 4vw, var(--fs-xl));
      line-height: 85%;
      margin: 0;
    }
    &-wrapper {
      grid-area: hd;
      display: flex;
      align-items: flex-end;
      height: 100%;
      width: 100%;
    }
  }
}
