// Element
$app-background: #f9f9f9;
$main-background: #0d0c11;

// Content Category
$experience: #f0a202;
$skills: #53438f;
$education: #48a9a6;
$projects: #ee3057;

$base-colors: (
  experience: $experience,
  skills: $skills,
  education: $education,
  projects: $projects,
);

$bg-colors: (
  header: $app-background,
  main: $main-background,
);
