// Element
$header-background: #f9f9f9;
$main-background: #0d0c11;

// Content Category
$skills-background: #53438f;
$skills: #53438f;
$education-background: #48a9a6;
$education: #48a9a6;
$projects-background: #ee3057;
$projects: #ee3057;
