@font-face {
  font-family: "Sequel Heavy";
  src: local("Sequel Heavy"),
    url("../fonts/Sequel Sans Heavy Body.ttf") format("opentype");
}

@font-face {
  font-family: "Sequel Book";
  src: local("Sequel Book"),
    url("../fonts/Sequel Sans Book Disp.ttf") format("opentype");
}

@font-face {
  font-family: "Caslon";
  src: local("Caslon"),
    url("../fonts/Adobe Caslon Pro Regular.ttf") format("opentype");
}
