.header-grid {
  &-top-left {
    grid-area: l-top;
  }
  &-top-center {
    grid-area: top;
  }
  &-top-right {
    grid-area: r-top;
  }
  &-mid-center {
    grid-area: mid;
  }
  &-bot-left {
    grid-area: l-bot;
  }
  &-bot-center {
    grid-area: bot;
  }
  &-bot-right {
    grid-area: r-bot;
  }
}
