.flex {
  display: flex;
  &-over {
    &-1000 {
      display: flex;
      @media screen and (max-width: 768px) {
        display: grid !important;
        grid-template-rows: 20vh auto;
      }
    }
  }
}

.flex-wrap {
  flex-wrap: wrap;
}

.no-margin {
  margin: 0 !important;
}

.align-self-bot {
  align-self: flex-end;
}

.align-self-mid {
  align-self: center;
}

.align-self-top {
  align-self: top;
}

.m {
  &-t {
    &-4 {
      margin-top: 4px;
    }
    &-6 {
      margin-top: 6px;
    }
  }
}
