.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.no-margin {
  margin: 0 !important;
}

.align-self-bot {
  align-self: flex-end;
}

.align-self-mid {
  align-self: center;
}

.align-self-top {
  align-self: top;
}
