@use "utilities";

*,
*::before,
*::after {
  box-sizing: border-box;

  // Removes stupid & ugly React focus border
  outline: none;
}

html,
body,
div,
img {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  background-color: white;
}

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

a {
  text-decoration: none;
}

.hero {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  padding: 0 32px;
  flex-grow: 1;
  justify-content: center;
  align-items: center;

  @include utilities.respond-to("nano") {
    padding: 0 0;
  }

  @include utilities.respond-to("small") {
    padding: 0 64px;
  }
  @include utilities.respond-to("medium") {
    padding: 16px 92px;
  }
  &__nav {
    display: flex;
    justify-content: center;
    margin-left: 12.5%;
    margin-right: auto;
    margin-bottom: 10px;
    width: 80%;
    height: auto;
    * {
      font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons",
        "Apple Legacy Chevron", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-weight: 400;
      font-size: var(--fs-sm);
      color: rgb(110, 110, 115);
    }
    .nav__item--left {
      text-align: start;
      padding-right: 10%;
      @include utilities.respond-to("medium") {
        padding-right: 5%;
      }
    }
    .nav__item--right {
      text-align: right;
      width: 100%;
    }

    @include utilities.respond-to("nano") {
    }

    @include utilities.respond-to("mini") {
      width: 70%;
      margin-left: auto;
      justify-content: start;
      margin-bottom: 0px;
    }

    @include utilities.respond-to("small") {
      width: 50%;
      font-size: var(--fs-sm);
    }
    @include utilities.respond-to("medium") {
      width: 27.5%;
      font-size: var(--fs-xs);
    }
  }

  &__img {
    display: block;
    width: 80%;
    max-height: 70vh;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    border-radius: 50%;

    @include utilities.respond-to("mini") {
      max-height: 75vh;
      width: 70%;
      border-radius: 0%;
    }
    @include utilities.respond-to("small") {
      width: 50%;
    }
    @include utilities.respond-to("medium") {
      width: 27.5%;
    }
  }

  &-titles {
    .titles__heading {
      line-height: 95%;
      font-family: "Sequel Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-weight: bold;
      font-size: clamp(1.9rem, 15vw, 6rem);
      text-align: center;
      margin: 0;
      white-space: nowrap;
      @include utilities.respond-to("small") {
        font-size: clamp(4rem, 10vw, 6rem);
      }
      @include utilities.respond-to("small", "max-height:500px") {
        font-size: clamp(1.9rem, 8vw, 6rem);
      }
      @include utilities.respond-to("medium") {
        font-size: clamp(2rem, 6.5vw, 10rem);
      }
    }
    .titles__subtitle {
      font-family: "Sequel Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-weight: bold;
      font-size: clamp(0.475rem, 3.75vw, 1.5rem);
      letter-spacing: clamp(0.4453125rem, 3.5vw, 1.40625rem);
      line-height: 50%;
      padding-left: 1%;
      margin: 0;
      @include utilities.respond-to("small") {
        font-size: clamp(1rem, 2.5vw, 1.5rem);
        letter-spacing: clamp(0.9375rem, 2.34375vw, 1.40625rem);
      }
      @include utilities.respond-to("small", "max-height:500px") {
        font-size: clamp(0.475rem, 2vw, 1.5rem);
        letter-spacing: clamp(0.4453125rem, 1.875vw, 1.40625rem);
      }
      @include utilities.respond-to("medium") {
        font-size: clamp(0.5rem, 1.625vw, 2.5rem);
        letter-spacing: clamp(0.46875rem, 1.5234375vw, 2.34375rem);
      }
    }
  }
}
.spacer {
  flex-grow: 1;
  max-height: 150px;
  @include utilities.respond-to("medium") {
    flex-grow: 1;
  }
}
.footer {
  display: flex;
  color: rgb(110, 110, 115);
  &-wrapper {
    display: flex;
    align-content: center;
    &--left {
      width: 100%;
    }
    &--right {
      width: 100%;
      justify-content: flex-end;
    }
  }
  &__item {
    &--link {
      font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons",
        "Apple Legacy Chevron", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-weight: 400;
      font-size: var(--fs-xs);
      margin: 1em 2em;
    }
    &--base {
      font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons",
        "Apple Legacy Chevron", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-weight: 400;
      font-size: var(--fs-xs);
      margin: 1em 2em;
    }
  }
}
